<!-- DRAGABLE IMAGE -->
<div class="draggable-image">
    <span class="close-btn"><i class="ri-close-fill"></i></span>
    <a href="/competition"><img src="/images/roket.png" alt="Draggable" /></a>
</div>


<!-- BOT ICON  -->
<!-- <div class="fixed-icon">
    <i class="ri-chat-1-line"></i> 
</div> -->