<!-- DRAGABLE IMAGE -->
<div class="draggable-image">
    <span class="close-btn"><i class="ri-close-fill"></i></span>
    <a href="/smart-invest"><img src="/images/roket.png" alt="Draggable" /></a>
</div>


<!-- BOT ICON  -->
<div class="fixed-icon">
    <i class="ri-bubble-chart-fill"></i> <!-- Replace this icon with the desired one -->
</div>