<div class="price__grid">


  <div class="price__card" data-content='{"accountSize":"$6,000","fee":"$50"}'>
    <div class="price__card__content">
      <h4>Account Size</h4>
      <h3>$6,000</h3>
    <p><i class="ri-checkbox-circle-line"></i>Fee $50</p>
      <p><i class="ri-checkbox-circle-line"></i>Profit split up to 95%</p>
      <a href="#read-more">
        <p class="read-more"><i class="ri-checkbox-circle-line"></i>Read more</p>
      </a>
    </div>
    <div class="hold">
      <form action="/access-pass" method="POST" id="subscribeForm">
        <input type="hidden" name="htmlContent" id="htmlContent">
        <button type="submit" class="btn price__btn">Buy Now</button>
      </form>
    </div>
    <div class="rocket-container">
      <img src="/images/peg.png" class="rocket">
    </div>
  </div>
  


  <!-- Price Card 1 -->
<div class="price__card" data-content='{"accountSize":"$15,000","fee":"$100"}'>
  <div class="price__card__content">
    <h4>Account Size</h4>
    <h3>$15,000</h3>
    <p><i class="ri-checkbox-circle-line"></i>Fee $100</p>
    <p><i class="ri-checkbox-circle-line"></i>Profit split up to 95%</p>
    <a href="#read-more">
      <p class="read-more"><i class="ri-checkbox-circle-line"></i>Read more</p>
    </a>
  </div>
  <div class="hold">
    <form action="/access-pass" method="POST" class="price-form">
      <input type="hidden" name="htmlContent" value="">
      <button type="submit" class="btn price__btn">Buy Now</button>
    </form>
  </div>
  <div class="rocket-container">
    <img src="/images/peg.png" class="rocket">
  </div>
</div>

<!-- Price Card 2 -->
<div class="price__card" data-content='{"accountSize":"$25,000","fee":"$150"}'>
  <div class="price__card__content">
    <h4>Account Size</h4>
    <h3>$25,000</h3>
    <p><i class="ri-checkbox-circle-line"></i>Fee $150</p>
    <p><i class="ri-checkbox-circle-line"></i>Profit split up to 95%</p>
    <a href="#read-more">
      <p class="read-more"><i class="ri-checkbox-circle-line"></i>Read more</p>
    </a>
  </div>
  <div class="hold">
    <form action="/access-pass" method="POST" class="price-form">
      <input type="hidden" name="htmlContent" value="">
      <button type="submit" class="btn price__btn">Buy Now</button>
    </form>
  </div>
  <div class="rocket-container">
    <img src="/images/peg.png" class="rocket">
  </div>
</div>

<!-- Price Card 3 -->
<div class="price__card" data-content='{"accountSize":"$50,000","fee":"$250"}'>
  <div class="price__card__content">
    <h4>Account Size</h4>
    <h3>$50,000</h3>
    <p><i class="ri-checkbox-circle-line"></i>Fee $250</p>
    <p><i class="ri-checkbox-circle-line"></i>Profit split up to 95%</p>
    <a href="#read-more">
      <p class="read-more"><i class="ri-checkbox-circle-line"></i>Read more</p>
    </a>
  </div>
  <div class="hold">
    <form action="/access-pass" method="POST" class="price-form">
      <input type="hidden" name="htmlContent" value="">
      <button type="submit" class="btn price__btn">Buy Now</button>
    </form>
  </div>
  <div class="rocket-container">
    <img src="/images/peg.png" class="rocket">
  </div>
</div>

<!-- Price Card 4 -->
<div class="price__card" data-content='{"accountSize":"$100,000","fee":"$450"}'>
  <div class="price__card__content">
    <h4>Account Size</h4>
    <h3>$100,000</h3>
    <p><i class="ri-checkbox-circle-line"></i>Fee $450</p>
    <p><i class="ri-checkbox-circle-line"></i>Profit split up to 95%</p>
    <a href="#read-more">
      <p class="read-more"><i class="ri-checkbox-circle-line"></i>Read more</p>
    </a>
  </div>
  <div class="hold">
    <form action="/access-pass" method="POST" class="price-form">
      <input type="hidden" name="htmlContent" value="">
      <button type="submit" class="btn price__btn">Buy Now</button>
    </form>
  </div>
  <div class="rocket-container">
    <img src="/images/peg.png" class="rocket">
  </div>
</div>
  
  <div class="price__card" data-content='{"accountSize":"$200,000","fee":"$900"}'>
    <div class="price__card__content">
      <h4>Account Size</h4>
      <h3>$200,000</h3>
      <p><i class="ri-checkbox-circle-line"></i>Fee $900</p>
      <p><i class="ri-checkbox-circle-line"></i>Profit split up to 95%</p>
      <a href="#read-more">
        <p class="read-more"><i class="ri-checkbox-circle-line"></i>Read more</p>
      </a>
    </div>
    <div class="hold">
      <form action="/access-pass" method="POST">
        <input type="hidden" name="htmlContent" value="">
        <button type="submit" class="btn price__btn">Buy Now</button>
      </form>
    </div>
    <div class="rocket-container">
      <img src="/images/peg.png" class="rocket">
    </div>
  </div>

  
  <div class="price__card" data-content='{"accountSize":"$250,000","fee":"$1,020"}'>
    <div class="price__card__content">
      <h4>Account Size</h4>
      <h3>$250,000</h3>
      <p><i class="ri-checkbox-circle-line"></i>Fee $950</p>
      <p><i class="ri-checkbox-circle-line"></i>Profit split up to 95%</p>
      <a href="#read-more">
        <p class="read-more"><i class="ri-checkbox-circle-line"></i>Read more</p>
      </a>
    </div>
    <div class="hold">
      <form action="/access-pass" method="POST">
        <input type="hidden" name="htmlContent" value="">
        <button type="submit" class="btn price__btn">Buy Now</button>
      </form>
    </div>
    <div class="rocket-container">
      <img src="/images/peg.png" class="rocket">
    </div>
  </div>

  
  <div class="price__card" data-content='{"accountSize":"$290,000","fee":"$1,050"}'>
    <div class="price__card__content">
      <h4>Account Size</h4>
      <h3>$290,000</h3>
      <p><i class="ri-checkbox-circle-line"></i>Fee $1,000</p>
      <p><i class="ri-checkbox-circle-line"></i>Profit split up to 95%</p>
      <a href="#read-more">
        <p class="read-more"><i class="ri-checkbox-circle-line"></i>Read more</p>
      </a>
    </div>
    <div class="hold">
      <form action="/access-pass" method="POST">
        <input type="hidden" name="htmlContent" value="">
        <button type="submit" class="btn price__btn">Buy Now</button>
      </form>
    </div>
    <div class="rocket-container">
      <img src="/images/peg.png" class="rocket">
    </div>
  </div>

</div>



<!-- INCLUDE READ MORE  -->
<%- include ('../read-more.ejs') %>
