<div class="giveaway">
  <h3 class="add">Free Offers</h3>
  <div class="giveaway-1">
    <div class="price__grid">

      <!-- Toggle Box -->
      <div id="toggle-box">
        <button onclick="closeDetails()" class="close"><i class="ri-close-line"></i></button>
        <div class="mid">
          <h4 id="toggle-title">Title</h4>
          <p id="toggle-content">Content goes here...</p>
          <p>Connect your Exness account and claim.</p>
          <a href="/exness"><button class="connect">Connect Account</button></a>
        </div>
      </div>

      <!-- ACTIVE OFFERS-->

      <div class="price__card"
        onclick="showDetails('Exness my broker', 'Congratulations on choosing Exness as your trusted broker! As a token of appreciation, we are thrilled to offer you a $10 bonus. Claim it now and enjoy this exclusive reward for being a valued member of the Exness community!')">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift1.png" alt="gift box" width="30%">
          <h4>Exness my broker</h4>
          <h3>$10</h3>
          <p><i class="ri-checkbox-circle-line"></i>Active</p>
          <p><i class="ri-checkbox-circle-line"></i>Verified</p>
        </div>
        <div class="hold bg">
          <button class="price__btn">Claim $10</button>
        </div>
      </div>

      <div class="price__card"
        onclick="showDetails('New to nova X', 'Welcome to Nova X! Claim your $5 starter bonus today and kickstart your trading journey. We’re excited to have you on board, and we believe this bonus will help you begin your experience with us on the right foot.')">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift1.png" alt="gift box" width="30%">
          <h4>New to nova X</h4>
          <h3>$5</h3>
          <p><i class="ri-checkbox-circle-line"></i>Active</p>
          <p><i class="ri-checkbox-circle-line"></i>Verified</p>
        </div>
        <div class="hold">
          <button class="price__btn">Claim $5</button>
        </div>
      </div>

      <div class="price__card"
        onclick="showDetails('$50 in exness', 'You qualify for a $6 bonus simply for having $50 in your Exness account. Take advantage of this opportunity and claim your bonus today. It’s an easy way to boost your account with Exness and get even closer to your trading goals!')">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift1.png" alt="gift box" width="30%">
          <h4>$50 in exness</h4>
          <h3>$6</h3>
          <p><i class="ri-checkbox-circle-line"></i>Active</p>
          <p><i class="ri-checkbox-circle-line"></i>Verified</p>
        </div>
        <div class="hold">
          <button class="price__btn">Claim $6</button>
        </div>
      </div>

      <div class="price__card"
        onclick="showDetails('Refer a friend', 'Earn a $10 bonus for referring a friend to nova X! It is a simple way to share the benefits. Just invite a friend to join, and once they sign up and meet the requirements, you will both get rewarded. Start referring today and enjoy the rewards!')">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift1.png" alt="gift box" width="30%">
          <h4>Refer a friend</h4>
          <h3>$10</h3>
          <p><i class="ri-checkbox-circle-line"></i>Active</p>
          <p><i class="ri-checkbox-circle-line"></i>Verified</p>
        </div>
        <div class="hold">
          <button class="price__btn">Claim $10</button>
        </div>
      </div>

      <div class="price__card"
        onclick="showDetails('$100 in exness', 'Claim your $11 bonus for having $100 in Exness! By maintaining a balance of $100 or more in your Exness account, you become eligible for this exclusive bonus. Dont miss out on this opportunity to boost your account and enhance your trading experience with Exness!')">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift1.png" alt="gift box" width="30%">
          <h4>$100 in exness</h4>
          <h3>$11</h3>
          <p><i class="ri-checkbox-circle-line"></i>Active</p>
          <p><i class="ri-checkbox-circle-line"></i>Verified</p>
        </div>
        <div class="hold">
          <button class="price__btn">Claim $11</button>
        </div>
      </div>

      <div class="price__card"
        onclick="showDetails('$1000 in exness', 'Congratulations! You qualify for a $25 bonus for having $1000 in your Exness account. Claim your bonus now and enjoy the benefits!')">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift1.png" alt="gift box" width="30%">
          <h4>$1000 in exness</h4>
          <h3>$25</h3>
          <p><i class="ri-checkbox-circle-line"></i>Active</p>
          <p><i class="ri-checkbox-circle-line"></i>Verified</p>
        </div>
        <div class="hold">
          <button class="price__btn">Claim $25</button>
        </div>
      </div>




      <!-- PENDING GIVEAWAYS  -->
      <div class="price__card">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift1.png" alt="gift box" width="30%">
          <h4 class="pending">Pending</h4>
          <h3 class="pending">$0</h3>
          <p class="pending"><i class="ri-checkbox-circle-line"></i>Pending</p>
          <p class="pending"><i class="ri-checkbox-circle-line"></i>Pending</p>
        </div>
        <div class="hold">
          <a href="#"><button class="price__btn pending">Pending ...</button></a>
        </div>
      </div>
      <div class="price__card">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift1.png" alt="gift box" width="30%">
          <h4 class="pending">Pending</h4>
          <h3 class="pending">$0</h3>
          <p class="pending"><i class="ri-checkbox-circle-line"></i>Pending</p>
          <p class="pending"><i class="ri-checkbox-circle-line"></i>Pending</p>
        </div>
        <div class="hold">
          <a href="#"><button class="price__btn pending">Pending ...</button></a>
        </div>
      </div>
      <div class="price__card">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift1.png" alt="gift box" width="30%">
          <h4 class="pending">Pending</h4>
          <h3 class="pending">$0</h3>
          <p class="pending"><i class="ri-checkbox-circle-line"></i>Pending</p>
          <p class="pending"><i class="ri-checkbox-circle-line"></i>Pending</p>
        </div>
        <div class="hold">
          <a href="#"><button class="price__btn pending">Pending ...</button></a>
        </div>
      </div>
      <div class="price__card">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift1.png" alt="gift box" width="30%">
          <h4 class="pending">Pending</h4>
          <h3 class="pending">$0</h3>
          <p class="pending"><i class="ri-checkbox-circle-line"></i>Pending</p>
          <p class="pending"><i class="ri-checkbox-circle-line"></i>Pending</p>
        </div>
        <div class="hold">
          <a href="#"><button class="price__btn pending">Pending ...</button></a>
        </div>
      </div>
      <div class="price__card">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift1.png" alt="gift box" width="30%">
          <h4 class="pending">Pending</h4>
          <h3 class="pending">$0</h3>
          <p class="pending"><i class="ri-checkbox-circle-line"></i>Pending</p>
          <p class="pending"><i class="ri-checkbox-circle-line"></i>Pending</p>
        </div>
        <div class="hold">
          <a href="#"><button class="price__btn pending">Pending ...</button></a>
        </div>
      </div>
    </div>
  </div>











  <h3 class="add">Advertisment</h3>
  <div class="ads">
    <div id="ads-container">
      <img src="/images/ads8.png" alt="ads">
      <img src="/images/ads1.png" alt="ads">
      <img src="/images/ads2.png" alt="ads">
      <img src="/images/ads3.png" alt="ads">
      <img src="/images/ads8.png" alt="ads">
      <img src="/images/ads9.png" alt="ads">
      <img src="/images/ads4.png" alt="ads">
      <img src="/images/ads5.png" alt="ads">
      <img src="/images/ads9.png" alt="ads">
      <img src="/images/ads6.png" alt="ads">
      <img src="/images/ads7.png" alt="ads">
      <img src="/images/ads8.png" alt="ads">
      <img src="/images/ads10.png" alt="ads">
      <img src="/images/ads11.png" alt="ads">
      <img src="/images/ads8.png" alt="ads">
      <img src="/images/ads12.png" alt="ads">
      <img src="/images/ads9.png" alt="ads">
      <img src="/images/ads13.png" alt="ads">
      <img src="/images/ads14.png" alt="ads">
      <img src="/images/ads15.png" alt="ads">
    </div>
  </div>




  <h3 class="review">Fundednet Review</h3>
  <div class="last">
    <p>
      "FundedNet has revolutionized the way traders and investors achieve their financial goals. By providing
      opportunities to access capital and expert support, it empowers users to maximize their potential. With
      competitive payouts, user-friendly platforms, and a commitment to excellence, FundedNet stands out as a leader in
      the funding space. are a seasoned trader or just starting, FundedNet's resources and guidance are
      designed to help you succeed."
    </p>
  </div>
</div>