<div class="giveaway">
  <h3 class="add">Trade for Poeple</h3>


  <div class="giveaway-1">
    <div class="price__grid">

      <!-- Toggle Box -->
      <div id="toggle-box">
        <button onclick="closeDetails()" class="close"><i class="ri-close-line"></i></button>
        <div class="mid">
          <h4 id="toggle-title">Title</h4>
          <p id="toggle-content">Content goes here...</p>
          <p class="prof">prove your skills!</p>
          <a href="/deposit"><button class="connect">Subscribe $0.50</button></a>
        </div>
      </div>



      <!-- ACTIVE OFFERS-->

      <div class="price__card"
    onclick="showDetails('Information', 'To access the admin page, you need to pay a small $0.50 access fee as proof that you\'re a real participant. But that’s not all—take on the challenge! Your goal is to trade a $100 account up to $300 within one week. However, be careful—you must not blow more than three accounts within the week. Show us your trading skills and unlock full access!')">
    <div class="price__card__content">
        <img class="swing-animation" src="/images/gift4.png" alt="gift box" width="30%">
        <h4>Up for the challenge</h4>
        <h3>$300</h3>
        <p><i class="ri-star-s-fill"></i>Just $0.50 fee</p>
        <p><i class="ri-star-s-fill"></i>Under 1 week</p>
        <p><i class="ri-star-s-fill"></i>Trade $100 to $300</p>
    </div>
    <div class="hold bg">
        <button class="price__btn">Continue</button>
    </div>
</div>


      <div class="price__card"
    onclick="showDetails('Information', 'To access the admin page, you need to pay a small $0.50 access fee as proof that you\'re a real participant. But that’s not all—take on the challenge! Your goal is to trade a $300 account up to $600 within one week. However, be careful—you must not blow more than three accounts within the week. Show us your trading skills and unlock full access!')">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift4.png" alt="gift box" width="30%">
          <h4>up for the challange</h4>
          <h3>$600</h3>
          <p><i class="ri-star-s-fill"></i>Just $0.50 fee</p>
          <p><i class="ri-star-s-fill"></i>Under 2 weeks</p>
          <p><i class="ri-star-s-fill"></i>Trade $300 to $600</p>
        </div>
        <div class="hold">
          <button class="price__btn">Ccontinue</button>
        </div>
      </div>

      <div class="price__card"
    onclick="showDetails('Information', 'To access the admin page, you need to pay a small $0.50 access fee as proof that you\'re a real participant. But that’s not all—take on the challenge! Your goal is to trade a $600 account up to $1100 within one week. However, be careful—you must not blow more than three accounts within the week. Show us your trading skills and unlock full access!')">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift4.png" alt="gift box" width="30%">
          <h4>up for the challange</h4>
          <h3>$1100</h3>
          <p><i class="ri-star-s-fill"></i>Just $0.50 fee</p>
          <p><i class="ri-star-s-fill"></i>Under 3 weeks</p>
          <p><i class="ri-star-s-fill"></i>Trade $600 to $1100</p>
        </div>
        <div class="hold">
          <button class="price__btn">continue</button>
        </div>
      </div>

      <div class="price__card"
    onclick="showDetails('Information', 'To access the admin page, you need to pay a small $0.50 access fee as proof that you\'re a real participant. But that’s not all—take on the challenge! Your goal is to trade a $1000 account up to $1800 within one week. However, be careful—you must not blow more than three accounts within the week. Show us your trading skills and unlock full access!')">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift4.png" alt="gift box" width="30%">
          <h4>up for the challange</h4>
          <h3>$1800</h3>
          <p><i class="ri-star-s-fill"></i>Just $0.50 fee</p>
          <p><i class="ri-star-s-fill"></i>Under 4 weeks</p>
          <p><i class="ri-star-s-fill"></i>Trade $1000 to $1800</p>
        </div>
        <div class="hold">
          <button class="price__btn">continue</button>
        </div>
      </div>



      <!-- PENDING GIVEAWAYS  -->
      <div class="price__card">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift4.png" alt="gift box" width="30%">
          <h4 class="pending">Pending</h4>
          <h3 class="pending">$0.00</h3>
          <p class="pending"><i class="ri-close-line"></i>Pending</p>
          <p class="pending"><i class="ri-close-line"></i>Pending</p>
          <p class="pending"><i class="ri-close-line"></i>Pending</p>
        </div>
        <div class="hold">
          <a href="#"><button class="price__btn pending">Pending ...</button></a>
        </div>
      </div>

      <div class="price__card">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift4.png" alt="gift box" width="30%">
          <h4 class="pending">Pending</h4>
          <h3 class="pending">$0.00</h3>
          <p class="pending"><i class="ri-close-line"></i>Pending</p>
          <p class="pending"><i class="ri-close-line"></i>Pending</p>
          <p class="pending"><i class="ri-close-line"></i>Pending</p>
        </div>
        <div class="hold">
          <a href="#"><button class="price__btn pending">Pending ...</button></a>
        </div>
      </div>

      <div class="price__card">
        <div class="price__card__content">
          <img class="swing-animation" src="/images/gift4.png" alt="gift box" width="30%">
          <h4 class="pending">Pending</h4>
          <h3 class="pending">$0.00</h3>
          <p class="pending"><i class="ri-close-line"></i>Pending</p>
          <p class="pending"><i class="ri-close-line"></i>Pending</p>
          <p class="pending"><i class="ri-close-line"></i>Pending</p>
        </div>
        <div class="hold">
          <a href="#"><button class="price__btn pending">Pending ...</button></a>
        </div>
      </div>

    </div>
  </div>









<!-- ADVERTISMENT  -->

  <h3 class="add">Advertisment</h3>
  <div class="ads">
    <div id="ads-container">
      <img src="/images/ads8.png" alt="ads">
      <img src="/images/ads1.png" alt="ads">
      <img src="/images/ads2.png" alt="ads">
      <img src="/images/ads3.png" alt="ads">
      <img src="/images/ads8.png" alt="ads">
      <img src="/images/ads9.png" alt="ads">
      <img src="/images/ads4.png" alt="ads">
      <img src="/images/ads5.png" alt="ads">
      <img src="/images/ads9.png" alt="ads">
      <img src="/images/ads6.png" alt="ads">
      <img src="/images/ads7.png" alt="ads">
      <img src="/images/ads8.png" alt="ads">
      <img src="/images/ads10.png" alt="ads">
      <img src="/images/ads11.png" alt="ads">
      <img src="/images/ads8.png" alt="ads">
      <img src="/images/ads12.png" alt="ads">
      <img src="/images/ads9.png" alt="ads">
      <img src="/images/ads13.png" alt="ads">
      <img src="/images/ads14.png" alt="ads">
      <img src="/images/ads15.png" alt="ads">
    </div>
  </div>




  <h3 class="review">Fundednet Review</h3>
  <div class="last">
    <p>
      "FundedNet has revolutionized the way traders and investors achieve their financial goals. By providing
      opportunities to access capital and expert support, it empowers users to maximize their potential. With
      competitive payouts, user-friendly platforms, and a commitment to excellence, FundedNet stands out as a leader in
      the funding space. are a seasoned trader or just starting, FundedNet's resources and guidance are
      designed to help you succeed."
    </p>
  </div>
</div>