<div class="price__grid">

    <div class="price__card" data-content='{"accountSize":"$50","fee":"$5"}'>
        <div class="price__card__content">
          <h4>Invest</h4>
          <div class="price-details">
            <h3>$25</h3>
            <p><i class="ri-checkbox-circle-line"></i>Get 50%: $12.50</p>
            <p><i class="ri-checkbox-circle-line"></i>Payout every fridays</p>
          </div>
          <p class="read-more"><i class="ri-checkbox-circle-line"></i>Valid for a Month + 1 week</p>
        </div>
        <div class="hold">
          <form action="/payment" method="GET">
            <input type="hidden" name="htmlContent" value="">
            <button type="submit" class="btn price__btn" onclick="setPriceValue(event)">Activate Account</button>
          </form>
        </div>
        <div class="rocket-container">
          <img src="/images/gift7.png" class="rocket">
        </div>
      </div>
      

      <div class="price__card" data-content='{"accountSize":"$100","fee":"$10"}'>
        <div class="price__card__content">
          <h4>Invest</h4>
          <div class="price-details">
            <h3>$50</h3>
            <p><i class="ri-checkbox-circle-line"></i>Get 50%: $25</p>
            <p><i class="ri-checkbox-circle-line"></i>Payout every fridays</p>
          </div>
          <p class="read-more"><i class="ri-checkbox-circle-line"></i>Valid for a Month + 1 week</p>
        </div>
        <div class="hold">
          <form action="/payment" method="GET">
            <input type="hidden" name="htmlContent" value="">
            <button type="submit" class="btn price__btn">Activate Account</button>
          </form>
        </div>
        <div class="rocket-container">
          <img src="/images/gift7.png" class="rocket">
        </div>
      </div>
      
      <div class="price__card" data-content='{"accountSize":"$150","fee":"$15"}'>
        <div class="price__card__content">
          <h4>Invest</h4>
          <div class="price-details">
            <h3>$100</h3>
            <p><i class="ri-checkbox-circle-line"></i>Get 50%: $50</p>
            <p><i class="ri-checkbox-circle-line"></i>Payout every fridays</p>
          </div>
          <p class="read-more"><i class="ri-checkbox-circle-line"></i>Valid for a Month + 1 week</p>
        </div>
        <div class="hold">
          <form action="/payment" method="GET">
            <input type="hidden" name="htmlContent" value="">
            <button type="submit" class="btn price__btn">Activate Account</button>
          </form>
        </div>
        <div class="rocket-container">
          <img src="/images/gift7.png" class="rocket">
        </div>
      </div>
      
      <!-- Repeat the same structure for other cards -->
      <div class="price__card" data-content='{"accountSize":"$200","fee":"$20"}'>
        <div class="price__card__content">
          <h4>Invest</h4>
          <div class="price-details">
            <h3>$200</h3>
            <p><i class="ri-checkbox-circle-line"></i>Get 50%: $100</p>
            <p><i class="ri-checkbox-circle-line"></i>Payout every fridays</p>
          </div>
          <p class="read-more"><i class="ri-checkbox-circle-line"></i>Valid for a Month + 1 week</p>
        </div>
        <div class="hold">
          <form action="/payment" method="GET">
            <input type="hidden" name="htmlContent" value="">
            <button type="submit" class="btn price__btn">Activate Account</button>
          </form>
        </div>
        <div class="rocket-container">
          <img src="/images/gift7.png" class="rocket">
        </div>
      </div>
      
      <!-- Add other cards similarly -->
      
      <div class="price__card" data-content='{"accountSize":"$250","fee":"$25"}'>
        <div class="price__card__content">
          <h4>Invest</h4>
          <div class="price-details">
            <h3>$300</h3>
            <p><i class="ri-checkbox-circle-line"></i>Get 50%: $150</p>
            <p><i class="ri-checkbox-circle-line"></i>Payout every fridays</p>
          </div>
          <p class="read-more"><i class="ri-checkbox-circle-line"></i>Valid for a Month + 1 week</p>
        </div>
        <div class="hold">
          <form action="/payment" method="GET">
            <input type="hidden" name="htmlContent" value="">
            <button type="submit" class="btn price__btn">Activate Account</button>
          </form>
        </div>
        <div class="rocket-container">
          <img src="/images/gift7.png" class="rocket">
        </div>
      </div>
      
      <div class="price__card" data-content='{"accountSize":"$300","fee":"$30"}'>
        <div class="price__card__content">
          <h4>Invest</h4>
          <div class="price-details">
            <h3>$400</h3>
            <p><i class="ri-checkbox-circle-line"></i>Get 50%: $200</p>
            <p><i class="ri-checkbox-circle-line"></i>Payout every fridays</p>
          </div>
          <p class="read-more"><i class="ri-checkbox-circle-line"></i>Valid for a Month + 1 week</p>
        </div>
        <div class="hold">
          <form action="/payment" method="GET">
            <input type="hidden" name="htmlContent" value="">
            <button type="submit" class="btn price__btn">Activate Account</button>
          </form>
        </div>
        <div class="rocket-container">
          <img src="/images/gift7.png" class="rocket">
        </div>
      </div>
      
      <div class="price__card" data-content='{"accountSize":"$350","fee":"$35"}'>
        <div class="price__card__content">
          <h4>Invest</h4>
          <div class="price-details">
            <h3>$500</h3>
            <p><i class="ri-checkbox-circle-line"></i>Get 50%: $250</p>
            <p><i class="ri-checkbox-circle-line"></i>Payout every fridays</p>
          </div>
          <p class="read-more"><i class="ri-checkbox-circle-line"></i>Valid for a Month + 1 week</p>
        </div>
        <div class="hold">
          <form action="/payment" method="GET">
            <input type="hidden" name="htmlContent" value="">
            <button type="submit" class="btn price__btn">Activate Account</button>
          </form>
        </div>
        <div class="rocket-container">
          <img src="/images/gift7.png" class="rocket">
        </div>
      </div>
      
      <div class="price__card" data-content='{"accountSize":"$400","fee":"$40"}'>
        <div class="price__card__content">
          <h4>Invest</h4>
          <div class="price-details">
            <h3>$600</h3>
            <p><i class="ri-checkbox-circle-line"></i>Get 50%: $300</p>
            <p><i class="ri-checkbox-circle-line"></i>Payout every fridays</p>
          </div>
          <p class="read-more"><i class="ri-checkbox-circle-line"></i>Valid for a Month + 1 week</p>
        </div>
        <div class="hold">
          <form action="/payment" method="GET">
            <input type="hidden" name="htmlContent" value="">
            <button type="submit" class="btn price__btn">Activate Account</button>
          </form>
        </div>
        <div class="rocket-container">
          <img src="/images/gift7.png" class="rocket">
        </div>
      </div>
  </div>


  <h3 class="eh">Guru Traders</h3>

  <div class="gurus">
    <img src="/images/g1.jpeg" alt="guru">
    <img src="/images/g2.jpeg" alt="guru">
    <img src="/images/g3.jpeg" alt="guru">
    <img src="/images/g4.jpeg" alt="guru">
    <img src="/images/g5.jpeg" alt="guru">
    <!-- <img src="/images/g6.jpeg" alt="guru"> -->
    <img src="/images/g7.jpeg" alt="guru">
    <img src="/images/g9.jpeg" alt="guru">
    <img src="/images/g10.jpeg" alt="guru">
    <!-- <img src="/images/g11.jpeg" alt="guru"> -->
    <!-- <img src="/images/g12.jpeg" alt="guru"> -->
    <img src="/images/g13.jpeg" alt="guru">
    <img src="/images/g14.jpeg" alt="guru">
    <img src="/images/g15.jpeg" alt="guru">
    <img src="/images/g16.jpeg" alt="guru">
    <img src="/images/g17.jpeg" alt="guru">
    <img src="/images/g18.jpeg" alt="guru">
    <img src="/images/g19.jpeg" alt="guru">
    <img src="/images/g20.jpeg" alt="guru">
</div>




  
  <p class="note">Begin your investment journey with confidence. Our platform provides you with the tools and resources to make informed decisions, grow your portfolio, and maximize your potential. Invest today and watch your financial goals come to life!".</p>
  