
<div class="original">
    <h3 class="cap">Avalable Capitals</h3>
    <div class="cards">
        <a href="#"><div class="card">
            <div class="card-info">
                <h3 class="green">Total Funds</h3>
                <p>Universal</p>
            </div>
            <div class="card-amount">$5.56</div>
        </div></a>

        <a href="#"><div class="card">
            <div class="card-info">
                <h3 class="green">Welcome Bonus</h3>
                <p>Universal</p>
            </div>
            <div class="card-amount">$5.56</div>
        </div></a> 

        <a href="#"><div class="card">
            <div class="card-info">
                <h3>Weekly Payout</h3>
                <p>Universal</p>
            </div>
            <div class="card-amount">$0.00</div>
        </div></a>

        <a href="#"><div class="card">
            <div class="card-info">
                <h3>Monthly Payout</h3>
                <p>Universal</p>
            </div>
            <div class="card-amount">$0.00</div>
        </div></a>

        <a href="#"><div class="card">
            <div class="card-info">
                <h3>Competition</h3>
                <p>Universal</p>
            </div>
            <div class="card-amount">$0.00</div>
        </div></a>

       <a href="/payout"><div class="card">
            <div class="card-info">
                <h3 class="green">Withdrawable</h3>
                <p>Universal</p>
            </div>
            <div class="card-amount">$5.56</div>
        </div></a>
    </div>
    
    
    
    
    
    <!-- CANVAS CHAT  -->
    <div class="pium">
        <h1>TradEase Market Graph</h1>  
    
        <div class="container1">
            <!-- Canvas for large screens (hidden on small screens) -->
            <canvas id="myLargeChart" width="600" height="400"></canvas>
            
            <!-- Canvas for small screens (hidden on large screens) -->
            <canvas id="mySmallChart" width="700" height="1000"></canvas>
        </div>
        
        </div>
</div>