
<div class="original">
    <h3 class="cap">Capitals</h3>
    <div class="cards">
        <a href="/buy-account"><div class="card">
            <div class="card-info">
                <h3>My Account</h3>
                <p>Universal</p>
            </div>
            <div class="card-amount">$18,000</div>
        </div></a>


        <a href="/smart-invest"><div class="card">
            <div class="card-info">
                <h3>Investment</h3>
                <p>Universal</p>
            </div>
            <div class="card-amount">$10</div>
        </div></a>

        <a href="/competition"><div class="card">
            <div class="card-info">
                <h3>Competition</h3>
                <p>Universal</p>
            </div>
            <div class="card-amount">$50</div>
        </div></a>

       <a href="/tournament"><div class="card">
            <div class="card-info">
                <h3>Tournament</h3>
                <p>Universal</p>
            </div>
            <div class="card-amount">$34,000</div>
        </div></a> 

       <a href="#"><div class="card">
            <div class="card-info">
                <h3>Referal bonus</h3>
                <p>Pending</p>
            </div>
            <div class="card-amount">$98</div>
        </div></a>

        <a href="#"><div class="card dif">
            <div class="card-info">
                <h3>Daily Payouts</h3>
                <p>Universal</p>
            </div>
            <div class="card-amount" id="cardAmount">$230</div>
        </div></a>
    </div>
    
    
    
    
    
    <!-- CANVAS CHAT  -->
    <div class="pium">
        <h1>Firm Graph</h1>  
    
        <div class="container1">
            <!-- Canvas for large screens (hidden on small screens) -->
            <canvas id="myLargeChart" width="600" height="400"></canvas>
            
            <!-- Canvas for small screens (hidden on large screens) -->
            <canvas id="mySmallChart" width="700" height="1000"></canvas>
        </div>
        
        </div>
</div>