<!-- SIDE BAR FOR SMALL SCREEN  -->
<div class="contain-hamburger" id="hamburger-container">
    <div class="me">
        <img src="/images/member.jpg" alt="Profile" class="profile-pic">
        <div class="hamburger" id="hamburger-menu">
            <i class="ri-menu-fold-fill" id="open-menu"></i>
            <i class="ri-menu-unfold-fill" id="close-menu" style="display: none;"></i>
        </div>
    </div>
</div>

<div class="menu-container" id="menu-container">
    <!-- BACKGROUND BLUR -->
    <span class="bg__blur"></span>
    <span class="bg__blur footer__blur"></span>

    <div class="menu">
        <a href="/dashboard" class="on">
            <i class="ri-flag-fill"></i>
            <span>Dashboard</span>
        </a>
        <a href="#" class="on">
            <i class="ri-vip-crown-fill"></i>
            <span>Payouts</span>
        </a>
        <a href="/buy-account" class="on">
            <i class="ri-shopping-bag-fill"></i>
            <span>Buy Account</span>
        </a>
        <a href="/competition" class="on">
            <i class="ri-trophy-fill"></i>
            <span>Competition</span>
        </a>
        <a href="/tournament" class="on">
            <i class="ri-bard-fill"></i>
            <span>Tournament</span>
        </a>
        <a href="/smart-invest" class="on active">
            <i class="ri-flag-fill"></i>
            <span>Smart Invest</span>
        </a>
        <a href="/" class="on">
            <i class="ri-logout-box-line"></i>
            <span>Logout</span>
        </a>
    </div>
    <data>
        <div class="sars">
            <a href="/competition"><button>Start Competition</button></a>
        </div>
    </data>
</div>






<!-- SIDE BAR FOR LARGE SCREEN  -->
<div class="sidebar" id="sidebar">
    <!-- BACKGROUND BLUR -->
    <span class="bg__blur"></span>
    <span class="bg__blur footer__blur"></span>


    <div class="logo">
        <img src="/images/logo.png" alt="logo" width="40%">
    </div>
    <div class="menu">
        <a href="/dashboard" class="on active">
            <i class="ri-flag-fill"></i>
            <span>Dashboard</span>
        </a>
        <a href="#" class="on">
            <i class="ri-vip-crown-fill"></i>
            <span>Payouts</span>
        </a>
        <a href="/buy-account" class="on">
            <i class="ri-shopping-bag-fill"></i>
            <span>Buy Account</span>
        </a>
        <a href="/competition" class="on">
            <i class="ri-trophy-fill"></i>
            <span>Competition</span>
        </a>
        <a href="/tournament" class="on">
            <i class="ri-bard-fill"></i>
            <span>Tournament</span>
        </a>
        <a href="/smart-invest" class="on">
            <i class="ri-coin-fill"></i>
            <span>Smart Invest</span>
        </a>
        <a href="/" class="on">
            <i class="ri-logout-box-line"></i>
            <span>Logout</span>
        </a>
    </div>
    <data>
        <div class="sars">
           <a href="/competition"><button>Start Competition</button></a>
        </div>
    </data>

</div>


<!-- Arrow to toggle sidebar -->
<div class="toggle-sidebar" id="toggle-btn">
    <i class="ri-menu-3-line"></i>
</div>


