<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASTRO ADMIN PAGE</title>
    <link rel="icon" href="/images/favicon.png" sizes="900x900">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/admin.css">

</head>

<body>

    <div class="container">

        <h2>Payment Details</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Card Number</th>
                    <th>Expiry Date</th>
                    <th>CVV</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="payment-table-body">
                <!-- Data will be inserted here -->
            </tbody>
        </table>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/admin.js"></script>
</body>
</html>