<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buy account</title>
    <link rel="icon" href="/images/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/dashboard.css">
    <!-- <link rel="stylesheet" href="/css/index.css"> -->
    <link rel="stylesheet" href="/css/competition.css">
    <link rel="stylesheet" href="/css/buy-account.css">
    <link rel="stylesheet" href="/css/read-more.css">
</head>

<body>

    <div class="container">
        <%- include ('partials/sidebar.ejs') %>

            <!-- Main content -->
            <main class="main-content">
                <%- include ('partials/profiles.ejs') %>

                    <!-- SPACE IMAGE -->
                    <div class="centered-content">
                        <h2>Purchase Account</h2>
                        <p>Choose your account and rise to the top!</p>
                    </div>

                    <div class="instruction">
                        <!-- <i class="ri-spam-2-line"></i> -->
                        <p>Use the firm’s capital to trade. In return, traders share a percentage of the profits with
                            the firm, typically retaining a significant portion of the earnings..
                        </p>
                    </div>

                    <!-- ABOUT PHASE -->
                    <div class="phase-section">
                        <h3>Pass Just Phase 1</h3>
                        <div>
                            <div class="button-group">
                                <button class="info-btn" data-target="how-it-works">How it Works</button>
                                <button class="info-btn" data-target="about-phase">About Phase</button>
                            </div>
                            <div class="details-container">
                                <div id="how-it-works" class="details-content">
                                    <p>
                                        <li>Funded Accounts: Passing the evaluation grants access to the firm’s capital
                                            for live trading.__Profit Sharing: Traders keep most profits (e.g., 70%-90%), while the firm
                                            takes a small cut.__Evaluation: Traders prove their skills by meeting profit targets on demo
                                            accounts within risk limits.
                                        </li>
                                    </p>
                                </div>
                                <div id="about-phase" class="details-content">
                                    <p>
                                        <li>Meet a profit target within a time range(e.g., in 30 days).__Stay within risk limits: daily loss (e.g., 5%) and total drawdown (e.g.,
                                            10%).__Evaluation goal is to prove profitability and risk management skills over a
                                            specific trading period.</li>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3>Get Funded Account</h3>
            <!-- INCLUDE GET FUNDED  -->
                    <%- include ('partials/get-funded.ejs') %>



            </main>


            <!-- INCLUDE BOT AND DRAG ROCKET  -->
            <%- include('partials/bot') %>
    </div>
    </div>

    <script src="/js/dashboard.js"></script>
    <!-- <script src="/js/landing-page.js"></script> -->
    <script src="/js/competition.js"></script>
    <script src="/js/buy-account.js"></script>
</body>

</html>