<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/favicon.png" sizes="900x900">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/index.css" />
  <title>Astro_Trade</title>
</head>

<body>



  <nav class="hide">
    <div class="nav__logo">
      <a href="/"><img src="images/favicon.png" alt="logo"/></a>
    </div>
    <ul class="nav__links">
      <li class="link"><a href="#service-section">Service</a></li>
      <li class="link"><a href="#about">About</a></li>
      <li class="link"><a href="#tournament-section">Tournament</a></li>
      <li class="link"><a href="#reason-section">Why join us</a></li>
    </ul>
    <a href="/forms"><button class="btn join__now">Register</button></a>
  </nav>


  <nav class="hide1">
    <div class="nav__logo">
      <a href="/"><img src="images/favicon.png" alt="logo"></a>
    </div>

    <!-- Hamburger Icon -->
    <div class="hamburger">
      <i class="ri-menu-3-line"></i> <!-- Fold icon when the menu is closed -->
    </div>

    <!-- Sliding Menu -->
    <div class="hold3">
      <!-- Close Icon -->
      <div class="hamburger">
        <i class="ri-menu-2-fill"></i>
      </div>

      <ul class="nav__links">
        <li class="link"><a href="#service-section">Service</a></li>
        <li class="link"><a href="#about">About</a></li>
        <li class="link"><a href="#reason-section">Why join us</a></li>
        <li class="link"><a href="#tournament-section">Tournament</a></li>
      </ul>
      <a href="/forms"><button class="btn join__now">Register</button></a>
    </div>
  </nav>




  <header class="section__container header__container" id="about">
    <div class="header__content">
      <span class="bg__blur"></span>
      <span class="bg__blur header__blur"></span>
      <h4>Maximize Your Trading Success</h4>
      <h1><span>Empowering</span> Potential Traders</h1>
      <p>
        At Astro_Trade Trading, we provide ambitious traders with the capital, tools, and support needed to thrive in the
        dynamic world of forex trading. Join our community of elite traders, showcase your skills, and grow your career
        with the backing of a trusted prop firm.
        Your Trading Journey Starts Here!
      </p>
      <!-- <a href="/forms"><button class="btn">Sign in</button></a> -->
      <a href="/forms"><button class="btn">Sign in</button></a>

    </div>
    <div class="header__image">
      <img src="images/logo1.png" alt="header" />
    </div>
  </header>




  <section class="section__container explore__container">
    <div class="explore__header">
      <h2 class="section__header">DISCOVER OUR FUNDING PLANS</h2>
    </div>
    <div class="explore__grid">

      <div class="explore__card">
        <span><i class="ri-trademark-line"></i></span>
        <h4>Profit Splits</h4>
        <p>
          Enjoy one of the best profit-sharing models in the industry. Keep a large portion of your earnings and grow
          your wealth faster.
        </p>
        <a href="#">Subscribe <i class="ri-arrow-right-line"></i></a>
      </div>

      <div class="explore__card act">
        <span><i class="ri-exchange-dollar-line"></i></span>
        <h4>Fast Payouts</h4>
        <p>
          Withdraw your profits quickly and easily, ensuring you get rewarded promptly for your hard work and successful
          trades.
        </p>
        <a href="#">Subscribe <i class="ri-arrow-right-line"></i></a>
      </div>

      <div class="explore__card">
        <span><i class="ri-line-chart-fill"></i></span>
        <h4>Risk-Free Trading</h4>
        <p>
          Trade without the fear of losing your own money. We provide the capital, so you can focus on executing your
          trades.
        </p>
        <a href="#">Subscribe <i class="ri-arrow-right-line"></i></a>
      </div>

      <div class="explore__card">
        <span><i class="ri-heart-2-line"></i></span>
        <h4>Support & Education</h4>
        <p>
          Gain access to expert guidance, resources, and a community of traders to continually improve your skills and
          strategies.
        </p>
        <a href="#">Subscribe <i class="ri-arrow-right-line"></i></a>
      </div>
    </div>
  </section>




  <section class="section__container class__container" id="service-section">
    <div class="class__image">
      <span class="bg__blur"></span>
      <img src="images/bull2.jpeg" alt="class" class="class__img-1" />
      <img src="images/bull run.jpeg" alt="class" class="class__img-2" />
    </div>

    <div class="class__content">
      <h2 class="section__header">THE OPPORTUNITIES YOU’LL FIND HERE</h2>
      <p>
        Guided by our team of experienced and dedicated trading professionals, we offer a seamless and results-driven
        approach to growing your capital. Our expert traders handle the complexities of the market on your behalf,
        ensuring you benefit from professional strategies without the need for hands-on trading. With the perfect blend
        of risk management, advanced tools, and expertise, we provide a hassle-free way to maximize your financial
        potential.
      </p>
      <a href="/forms"><button class="btn">Sign in</button></a>
    </div>
  </section>



  <section>
    <header class="head1 section__container">
      <h2 class="section__header">OUR PRICING PLAN</h2>
      <div class="toggle">
        <label>Monthly</label>
        <div class="toggle-btn">
          <input type="checkbox" class="checkbox" id="checkbox" />
          <label class="sub" id="sub" for="checkbox">
            <div class="circle"></div>
          </label>
        </div>
        <label>Weekly</label>
      </div>
    </header>


    <div class="cards section__container">

      <div class="card shadow">
        <ul class="ul">
          <li class="pack">Basic</li>
          <li id="basic" class="price bottom-bar">&dollar;100.99</li>
          <li class="bottom-bar">Just $0.5 fee</li>
          <li class="bottom-bar">Under 1 week</li>
          <li class="bottom-bar">Trde $100 to $300</li>
          <li><button class="btn">Learn More</button></li>
        </ul>
      </div>

      <div class="card active">
        <ul class="ul">
          <li class="pack">Professional</li>
          <li id="professional" class="price bottom-bar">&dollar;400.99</li>
          <li class="bottom-bar">Just $0.5 fee</li>
          <li class="bottom-bar">Under 1 week</li>
          <li class="bottom-bar">Trde $300 to $600</li>
          <li><button class="btn active-btn">Learn More</button></li>
        </ul>
      </div>

      <div class="card shadow">
        <ul class="ul">
          <li class="pack">Master</li>
          <li id="master" class="price bottom-bar">&dollar;900.99</li>
          <li class="bottom-bar">Just $0.5 fee</li>
          <li class="bottom-bar">Under 1 week</li>
          <li class="bottom-bar">Trde $600 to $1100</li>
          <li><button class="btn">Learn More</button></li>
        </ul>
      </div>

    </div>

  </section>




  <section class="section__container join__container" id="reason-section">
    <h2 class="section__header">WHY JOIN US ?</h2>
    <p class="section__subheader">
      We offer a hassle-free way to grow your wealth through expert-managed trading. Our team of professional traders
      handles the markets on your behalf, using proven strategies and risk management to maximize potential returns—so
      you can benefit without the stress of trading yourself.
    </p>
    <div class="join__image">
      <img src="images/fx bull 3.jpeg" alt="Join" />

      <div class="join__grid">
        <div class="join__card">
          <span><i class="ri-bar-chart-grouped-line"></i></span>
          <div class="join__card__content">
            <h4>We are Fast</h4>
            <p>Execute trades with lightning speed using our cutting-edge technology, ensuring you never miss an
              opportunity in the market.</p>
          </div>
        </div>
        <div class="join__card">
          <span><i class="ri-money-pound-circle-fill"></i></span>
          <div class="join__card__content">
            <h4>Fast Payouts</h4>
            <p>Enjoy quick and hassle-free profit withdrawals, so you can focus on trading while we handle the rest.</p>
          </div>
        </div>
        <div class="join__card">
          <span><i class="ri-24-hours-fill"></i></span>
          <div class="join__card__content">
            <h4>Good Management</h4>
            <p>Our experienced team ensures a seamless trading experience with reliable support, guidelines, and a
              commitment to your success.</p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="section__container price__container">
    <h2 class="section__header" id="tournament-section">JOIN TOURNAMENT</h2>
    <p class="section__subheader">
      Ready to showcase your trading skills? Join the Astro_Trade Trading Tournament to compete, climb the leaderboard, and
      earn incredible rewards. Whether you're a seasoned pro or a rising star, this is your moment to shine!
    </p>
    <div class="price__grid">

      <div class="price__card">
        <div class="price__card__content">
          <h4>Tournament <data class="t">1</data></h4>
          <h3>$500</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Under 1 weeks
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Trade $50 to $500
          </p>
        </div>
        <div class="hold">
          <a href="/forms"><button class="btn price__btn">Subscribe</button></a>
        </div>
        <div class="rocket-container">
          <img src="/images/gift4.png" class="rocket">
        </div>
      </div>

      <div class="price__card">
        <div class="price__card__content">
          <h4>Tournament <data class="t">2</data></h4>
          <h3>$1,000</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Under 2 weeks
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Trade $50 to $1,000
          </p>
        </div>
        <div class="hold">
          <a href="/forms"><button class="btn price__btn">Subscribe</button></a>
        </div>
        <div class="rocket-container">
          <img src="/images/gift4.png" class="rocket">
        </div>
      </div>

      <div class="price__card">
        <div class="price__card__content">
          <h4>Tournament <data class="t">3</data></h4>
          <h3>$1,500</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Under 3 weeks
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Trade $50 to $1,500
          </p>
        </div>
        <div class="hold">
          <a href="/forms"><button class="btn price__btn">Subscribe</button></a>
        </div>
        <div class="rocket-container">
          <img src="/images/gift4.png" class="rocket">
        </div>
      </div>

      <div class="price__card">
        <div class="price__card__content">
          <h4>Tournament <data class="t">4</data></h4>
          <h3>$2,000</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Under 4 weeks
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Trade $50 to $2,000
          </p>
        </div>
        <div class="hold">
          <a href="/forms"><button class="btn price__btn">Subscribe</button></a>
        </div>
        <div class="rocket-container">
          <img src="/images/gift4.png" class="rocket">
        </div>
      </div>

      <div class="price__card">
        <div class="price__card__content">
          <h4>Tournament <data class="t">5</data></h4>
          <h3>$2,500</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Under 5 weeks
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Trade $50 to $2,500
          </p>
        </div>
        <div class="hold">
          <a href="/forms"><button class="btn price__btn">Subscribe</button></a>
        </div>
        <div class="rocket-container">
          <img src="/images/gift4.png" class="rocket">
        </div>
      </div>

      <div class="price__card">
        <div class="price__card__content">
          <h4>Tournament <data class="t">6</data></h4>
          <h3>$3,000</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Under 6 weeks
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Trade $50 to 3,000
          </p>
        </div>
        <div class="hold">
          <a href="/forms"><button class="btn price__btn">Subscribe</button></a>
        </div>
        <div class="rocket-container">
          <img src="/images/gift4.png" class="rocket">
        </div>
      </div>

      <div class="price__card">
        <div class="price__card__content">
          <h4>Tournament <data class="t">7</data></h4>
          <h3>$3,500</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Under 7 weeks
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Trade $50 to $3,500
          </p>
        </div>
        <div class="hold">
          <a href="/forms"><button class="btn price__btn">Subscribe</button></a>
        </div>
        <div class="rocket-container">
          <img src="/images/gift4.png" class="rocket">
        </div>
      </div>

      <div class="price__card">
        <div class="price__card__content">
          <h4>Tournament <data class="t">8</data></h4>
          <h3>$4,000</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Under 8 weeks
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Trade $50 to $4,000
          </p>
        </div>
        <div class="hold">
          <a href="/forms"><button class="btn price__btn">Subscribe</button></a>
        </div>
        <div class="rocket-container">
          <img src="/images/gift4.png" class="rocket">
        </div>
      </div>
    </div>

  </section>





  <section class="section__container">
    <h2 class="section__header" id="tournament-section">PAYMENTS</h2>
    <p class="section__subheader">Experience quick, reliable, and transparent transactions, ensuring you trade and get
      paid with confidence!</p> <br>
    <div class="slide-container">
      <div class="slide">
        <img src="./images/payment-1.webp" alt="payments">
        <img src="./images/payment-2.webp" alt="payments">
        <img src="./images/payment-3.webp" alt="payments">
        <img src="./images/payment-4.webp" alt="payments">
        <img src="./images/payment-5.webp" alt="payments">
        <img src="./images/payment-7.webp" alt="payments">
        <img src="./images/payment-8.webp" alt="payments">
        <img src="./images/payment-9.webp" alt="payments">
        <img src="./images/payment-10.webp" alt="payments">
        <img src="./images/payment-11.webp" alt="payments">
        <!-- Duplicate images for seamless looping -->
        <img src="./images/payment-1.webp" alt="payments">
        <img src="./images/payment-2.webp" alt="payments">
        <img src="./images/payment-3.webp" alt="payments">
        <img src="./images/payment-4.webp" alt="payments">
        <img src="./images/payment-5.webp" alt="payments">
        <img src="./images/payment-7.webp" alt="payments">
        <img src="./images/payment-8.webp" alt="payments">
        <img src="./images/payment-9.webp" alt="payments">
        <img src="./images/payment-10.webp" alt="payments">
        <img src="./images/payment-11.webp" alt="payments">
      </div>
    </div>
  </section>





  <section class="review section__container">
    <h2 class="section__header">STRATEGIC ALLIANCES</h2>
    <p class="section__subheader">
      Join Astro_Trade Trading in reshaping the exchange landscape. Together, we create bold opportunities and drive
      mutual
      success.
    </p>

    <div class="join__image1">
      <img src="/images/exchange.png" alt="Join" />
    </div>
    </div>
  </section>





  <section class="review section__container">
    <h2 class="section__header">PARTNERSHIP</h2>
    <p class="section__subheader">
      Unlock the potential of a rewarding partnership with Astro_Trade Trading, where innovation meets opportunity. We
      believe in building strong alliances that drive mutual growth and success.
    </p>
    <br>

    <div class="review__container">
      <span><i class="ri-double-quotes-r"></i></span>
      <div class="review__content">
        <h4>MEMBER REVIEW</h4>
        <p class="review-text">
          What truly sets this Forex prop firm apart is its expert team of trading analysts and support staff. The team
          is knowledgeable, approachable, and genuinely invested in helping members achieve their trading goals. They
          take the time to understand individual needs and provide personalized guidance, ensuring traders have the best
          chance of success in the competitive markets.
        </p>
        <div class="review__rating">
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-half-fill"></i></span>
        </div>

        <div class="review__footer">
          <div class="review__member">
            <img class="review__member__image" src="/images/profile.jpeg" alt="member" />
            <div class="review__member__details">
              <h4 class="member-name">Jane Cooper</h4>
              <p class="member-profession">Stock Trader</p>
            </div>
          </div>

          <div class="review__nav">
            <span class="left-arrow"><i class="ri-arrow-left-line"></i></span>
            <span class="right-arrow"><i class="ri-arrow-right-line"></i></span>
          </div>
        </div>
      </div>
    </div>
  </section>





  <!-- Scroll to Top Button -->
  <button id="scrollToTopBtn" class="scroll-to-top-btn">
    <i class="ri-arrow-up-line"></i> <!-- Icon for scroll to top -->
  </button>





  <footer class="section__container footer__container">
    <span class="bg__blur"></span>
    <span class="bg__blur footer__blur"></span>
    <div class="footer__col">
      <div class="footer__logo"><a href="/"><img src="images/favicon.png" alt="logo" /></a></div>
      <p>
        Take the first step towards financial freedom with our unbeatable funding plans. Trade, profit, and succeed with
        Astro_Trade Trading by your side!
      </p>
      <div class="footer__socials">
        <a href="#"><i class="ri-facebook-fill"></i></a>
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-twitter-fill"></i></a>
        <!-- <a href="#"><i class="ri-whatsapp-fill"></i></a> -->
        <a href="#"><i class="ri-discord-fill"></i></a>
        <a href="#"><i class="ri-tiktok-fill"></i></a>
      </div>
    </div>
    <div class="footer__col cool">
      <h4>Company</h4>
      <a href="#">MT5</a>
      <a href="#">Franchise</a>
      <a href="#">Partnership</a>
      <a href="#">Trading View</a>
    </div>
    <div class="footer__col cool">
      <h4>Contact</h4>
      <a href="#">T & C</a>
      <a href="#">Contact Us</a>
      <a href="#">Privacy Policy</a>
      <a href="#">BMI Calculator</a>
    </div>
    <div class="footer__col cool">
      <h4>About Us</h4>
      <a href="#">Blogs</a>
      <a href="#">Security</a>
      <a href="#">Careers</a>
    </div>
  </footer>
  <div class="footer__bar">
    <p>Copyright © 2024 Web Design Mastery. All rights reserved.</p>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script>
    window.onload = function () {
      // Define an array of messages to display
      const messages = [
        "Welcome to Astro_Trade!",
        "Sign up to get all the features",
        "Join our Tournament and win Big",
        "With Astro_Trade, Capital wont be your problem.",
        "Join us and start trading today"
      ];

      let messageIndex = 0;

      // Function to display the next toast
      function showNextMessage() {
        // Show the current message using Toastify
        Toastify({
          text: messages[messageIndex],
          duration: 5000, // Duration for each message (7 seconds)
          gravity: "bottom", // Toast position
          position: "left",  // Toast position
          backgroundColor: "#4caf50", // Background color for success
        }).showToast();

        // Increment the index to show the next message
        messageIndex++;

        // If we have shown all the messages, stop
        if (messageIndex >= messages.length) {
          clearInterval(messageInterval);
        }
      }

      // Set interval to show messages one by one
      const messageInterval = setInterval(showNextMessage, 8000); // Display each message every 8 seconds
    };
  </script>


  <script src="/js/landing-page.js"></script>
</body>

</html>