<h3>All you need to Know</h3>

<section id="read-more">
    <div class="scroll-container">
        <div class="pricing-table">
            <div class="header">Account Size</div>
            <div class="header">$6,000</div>
            <div class="header">$15,000</div>
            <div class="header">$25,000</div>
            <div class="header">$50,000</div>
            <div class="header">$100,000</div>
            <div class="header">$200,000</div>


            <div class="fee">Plan & Fee</div>
            <div class="fee">Fee $50
              <!-- <img src="/images/collect.png"> -->
            </div>
            <div class="fee">Fee $100
              <!-- <img src="/images/collect.png"> -->
            </div>
            <div class="fee">Fee $150
              <!-- <img src="/images/collect.png"> -->
            </div>
            <div class="fee">Fee $250
              <!-- <img src="/images/collect.png"> -->
            </div>
            <div class="fee">Fee $450
              <!-- <img src="/images/collect.png"> -->
            </div>
            <div class="fee"> Fee $900
              <!-- <img src="/images/collect.png"> -->
            </div>


            <div>Profit Target</div>
            <div>P1: 8%, P2: 5%</div>
            <div>P1: 8%, P2: 5%</div>
            <div>P1: 8%, P2: 5%</div>
            <div>P1: 8%, P2: 5%</div>
            <div>P1: 8%, P2: 5%</div>
            <div>P1: 8%, P2: 5%</div>

            <div>Max Daily Loss</div>
            <div>5% ($300)</div>
            <div>5% ($750)</div>
            <div>5% ($1,250)</div>
            <div>5% ($2,500)</div>
            <div>5% ($5,000)</div>
            <div>5% ($10,000)</div>

            <div>Max Overall Loss</div>
            <div>10% ($600)</div>
            <div>10% ($1,500)</div>
            <div>10% ($2,500)</div>
            <div>10% ($5,000)</div>
            <div>10% ($10,000)</div>
            <div>10% ($20,000)</div>

            <div>Balance Drawdown</div>
            <div>&#10003;</div>
            <div>&#10003;</div>
            <div>&#10003;</div>
            <div>&#10003;</div>
            <div>&#10003;</div>
            <div>&#10003;</div>

            <div>Trading Days</div>
            <div>5 Days</div>
            <div>5 Days</div>
            <div>5 Days</div>
            <div>5 Days</div>
            <div>5 Days</div>
            <div>5 Days</div>

            <div>Profit Split Up to 85%</div>
            <div>75%</div>
            <div>80%</div>
            <div>85%</div>
            <div>85%</div>
            <div>85%</div>
            <div>85%</div>

            <div>News Trading</div>
            <div>&#10003;</div>
            <div>&#10003;</div>
            <div>&#10003;</div>
            <div>&#10003;</div>
            <div>&#10003;</div>
            <div>&#10003;</div>

            <div>15% Profit Share</div>
            <div>$117</div>
            <div>$292.50</div>
            <div>$487.50</div>
            <div>$975</div>
            <div>$1,950</div>
            <div>$3,900</div>

            <div>Reward Frequency</div>
            <div>Monthly</div>
            <div>Monthly</div>
            <div>Monthly</div>
            <div>Monthly</div>
            <div>Monthly</div>
            <div>Monthly</div>

        </div>
    </div>

     <!-- Scroll Indicator -->
  <div class="scroll-indicator">
    <div class="progress-bar"></div>
  </div>

  <p class="note">Clients are provided with demo accounts that contain simulated funds for trading activities. Please note that all client trading operations are conducted in a simulated environment.</p>
</section>