<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tournament</title>
    <link rel="icon" href="/images/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/competition.css">
    <link rel="stylesheet" href="/css/buy-account.css">
    <link rel="stylesheet" href="/css/read-more.css">
    <link rel="stylesheet" href="/css/tournament.css">

</head>
<body>
    

    <div class="container">
        <%- include ('partials/sidebar.ejs') %>

            <!-- Main content -->
            <main class="main-content">
                <%- include ('partials/profiles.ejs') %>

                    <!-- SPACE IMAGE -->
                    <div class="centered-content">
                        <h2>Tournament</h2>
                        <p>Pick your plan, join the competition, and aim for the top!
                        </p>
                    </div>

                    <div class="instruction">
                        <!-- <i class="ri-spam-2-line"></i> -->
                        <p>"If you lack trading capital, subscribe to a plan, complete the tasks, and secure your winnings to start your trading journey."
                        </p>
                    </div>

                    <!-- ABOUT PHASE -->
                    <div class="phase-section">
                        <h3>Claim Account</h3>
                        <div>
                            <div class="button-group">
                                <button class="info-btn" data-target="how-it-works">How it Works</button>
                                <button class="info-btn" data-target="about-phase">About Plan</button>
                            </div>
                            <div class="details-container">
                                <div id="how-it-works" class="details-content">
                                    <p>
                                        <li>
                                            "If you lack the necessary capital to start trading, don't worry—simply subscribe to one of our tailored plans. By completing the required tasks and meeting the set objectives, you’ll be well on your way to securing your winnings and building a successful trading journey. This approach allows you to focus on refining your trading strategies without the burden of providing your own trading funds."
                                        </li>
                                    </p>
                                </div>
                                <div id="about-phase" class="details-content">
                                    <p>
                                        <li>
                                            By subscribing to one of our plans, you'll gain access to the resources and tools necessary to complete specific tasks, meet set objectives, and ultimately earn your fair share of the profits. With the firm’s capital backing you, your path to success becomes much clearer, and you can focus on what matters most—trading and growing your wealth.
                                        </li>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3>Choose a Plan</h3>
            <!-- INCLUDE GET FUNDED  -->
            <%- include ('partials/join-tournament') %>




            </main>


            <!-- INCLUDE BOT AND DRAG ROCKET  -->
            <%- include('partials/bot') %>
    </div>
    </div>









    <script src="/js/dashboard.js"></script>
    <script src="/js/competition.js"></script>
    <script src="/js/buy-account.js"></script>
    <!-- <script src="/js/tournament.js"></script> -->
</body>
</html>